
@{
    ViewBag.Title = "Confirm Email Instruction";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Please check you email for a confirmation link. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>