
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Jumbotron.cshtml";
}

<h1>Thank you for using awolr.com</h1>

<p>Any questions or concerns</p>
<p>Please feel free to contact us at <a href="contactus_email.php">support@awolr.com</a></p>

