
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Jumbotron.cshtml";
}

<h1>Ownership</h1>

<p>
    "Owners always have the highest priority rights. But proving the ownership can be tricky."
</p>

<p>
    For much more info please visit this link
    <a target="_blank" href="http://www.lawnow.org/all-is-not-lost-law-lost-and-found/">
        Sourced From - LawNow.org 2014
    </a>
</p>

<h1>Due Diligence</h1>

<p>
    "the care that a reasonable person exercises to avoid harm to other persons or their property"<br>
    <a target="_blank" href="http://www.merriam-webster.com/dictionary/due%20diligence">Learn More</a>
</p>

<h1>Be Ethical</h1>

<p>
    It is unethical to find something and then demand a reward for returning it.
</p>

<h1>Do Not Post Credit Cards</h1>

<p>
    If you have found a credit card, call the credit card provider. They will help you take the proper steps.
</p>

<h1>Missing Valuables Only</h1>

<p>
    awolr.com is not for missing people or animals.
</p>

<br>
<br>
<br>


