
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Jumbotron.cshtml";
}

<h1>Missing Valuables Only</h1>

<p>
    awolr.com is not to be used as an instrument for reporting missing people or animals.
</p>


<h1>Due Diligence</h1>

<p>
    Excercise "the care that a reasonable person exercises to avoid harm to other persons or their property"<br>
    <a target="_blank" href="http://www.merriam-webster.com/dictionary/due%20diligence"><b>Learn More</b></a>
</p>




<h1>Be Ethical</h1>

<p>
    It is unethical to find something and then demand a reward for returning it.
</p>
<p>
    This can be considered (<a href="https://en.wikipedia.org/wiki/Theft" target="_blank"><b>Theft</b></a>), and/or (<a href="https://en.wikipedia.org/wiki/Extortion" target="_blank"><b>Extortion</b></a>), and is against the Law.
</p>"


<h1>Do Not Post Credit Cards</h1>

<p>
    If you have found a credit card, call the credit card provider. They will help you take the proper steps.
</p>


<br>
<br>
<br>


