
@{
    ViewBag.Title = "Privacy";

}

<h1>Your Privacy Matters To Us</h1>

<p>
    Your trust in awolr.com, and the safe use of this website is paramount. Your safety is also inportant to us. Please be careful when meeting someone in person. Take a friend or family member with you if possible.
</p>
<p>Do not click links people send you.</p>
<p>Do not give credit card info to anyone.</p>
<p>awolr.com and the people who work here will never ask you for credit card info.</p>


<br><br><br>



