

<label>Customer Name</label>
<form name="add_rma" id="add_rma">

    <input type="text" name="CustomerName" id="CustomerName" />

    <table id='tbhold' class="table">
        <thead>
            <tr>
                <th>Product Name </th>
                <th>Serial number</th>
                <th>Qty</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <button type="button" name="add" id="add">Add more</button>

    <input type="submit" name="submit" id="submit" value="Submit" />
</form>
