@model RegistrationPractice.Classes.ViewModels.VMCityItems
@{
    ViewBag.Title = "cityindex";
    Layout = "~/Views/Shared/_Jumbotron.cshtml";
}

<h1 class="city">@ViewBag.city</h1>
<br>

<h1 class="lfs">Lost</h1>
<div class="text">
    <li>
        <a href="victoria-ali.php">All</a> lost items
    </li>
    <br>
    <li>
        <a href="victoria-pl.php">Post</a> something you've lost
    </li>
</div>

<h1 class="lfs">Found</h1>
<div class="text">
    <li>
        <a href="victoria-afi.php">All</strong></a> found items
    </li>
    <br>
    <li>
        <a href="victoria-pf.php">Post</a> something you've found
    </li>
</div>

<h1 class="lfs">Stolen</h1>
<div class="text">
    <li>
        <a href="victoria-asi.php">All</a> stolen items
    </li>
    <br>
    <li>
        <a href="victoria-ps.php">Post</a> something that was stolen from you
    </li>
</div>
<br>
