
@model List<RegistrationPractice.Models.ViewModels.Region_LocationListing>
@{
    ViewBag.Title = "AwolR.Com";
}
<meta name="robots" content="noindex">
<h1 class="city">Find Your Stuff</h1>
<b><i>Lost, Found &amp; Stolen Classifieds</i></b>
@*@if (ViewBag.country == "Canada")
    {*@

<br />
<br />
@*<img src="~/pictures/colors3-CA-fys.png" class="countryimage" />*@


<h1 class="lfs">Select Your City</h1>




<div class="cities">

    @foreach (RegistrationPractice.Models.ViewModels.Region_LocationListing region_locationlisting in Model)
    {

        <ul class="citieslist">
            <b>@region_locationlisting.region</b>
            @foreach (RegistrationPractice.Models.ViewModels.LocationListing item in region_locationlisting.locationlistings)
            {

                <li>
                    @Html.ActionLink(item.city, String.Format("{0}/{1}/CityIndex/{2}",
                    item.country, item.regionabbreviation, item.city))
                </li>
            }
        </ul>
    }

</div>


@*}
    else if (ViewBag.country == "USA")
    {



        <br />
        <br />

        <img src="~/pictures/colors2-usa-fys.png" class="countryimage" />
        <h1>Coming Soon!</h1>
    }*@

